<div class="grid grid-cols-3 ">
  <div class="menu col-span-1 rounded-lg bg-stone-300">
    <h2 class="joli_menu">Mon joli Menu</h2>
    <p class="text_menu">Couleur du joueur : valeur bidon</p>
    <p class="text_menu">Ressources:
      <br class="brick_card">
      brick
      <br class="ore_card">
      ore
      <br class="sheep_card">
      sheep
      <br class="wheat_card">
      wheat
      <br class="wood_card">
      wood
    </p>
    <p class="text_menu">Cartes développement:</p>
    <p class="text_menu">Points de victoire: </p>
    <p class="text_menu">Route disponibles: </p>
    <p class="text_menu">Colonies disponible: </p>
    <p class="text_menu">Villes disponibles: </p>
    <p class="text_menu pb-10">Fiches spéciales: </p>

    <!-- Partie scores des joueurs -->

    <div class="roster">
      <ul class="player-roster-list">

        <li class="player-roster red">
          Allen
          <div class='points'>5</div>

          <div class='roster-card-bank'>
            <ul class='roster-card-stack'>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
            </ul>

            <ul class='roster-card-stack'>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
            </ul>

            <ul class='roster-card-stack'>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
            </ul>

            <ul class='roster-card-stack'>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
            </ul>

          </div>
          <div class='clear'></div>
        </li>


        <li class="player-roster white current-player">
          Chaz
          <div class='points'>5</div>
          <div class='roster-card-bank'>
            <ul class='roster-card-stack'>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
            </ul>

          </div>
          <div class='clear'></div>
        </li>

        <li class="player-roster blue">
          Eric
          <div class='points'>5</div>
          <div class='roster-card-bank'>
            <ul class='roster-card-stack'>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
              <li class='roster-card'></li>
            </ul>

            <ul class='roster-card-stack'>
              <li class='roster-card'></li>
            </ul>



          </div>
          <div class='clear'></div>
        </li>

      </ul>

    </div>


  </div>

<div class="map col-span-2">
    <section class="hexagon-gallery">
      <div *ngFor="let tile of tilesList; index as i" class="hex"><img [src]="getRandomUrl(i)" /></div>
    </section>
  </div>

  <div class="boutton ">
    <!-- Button for function in board ts -->
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="moveThief()">Move Thief</button>
    <br>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="stealCardFromPlayer()">Steal Card From Player</button>
    <br>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="discardHalfCards()">Discard Half Cards</button>
    <br>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="buildRoad()">Build Road</button>
    <br>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="buildColony()">Build Colony</button>
    <br>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="buildCity()">Build City</button>
    <br>
    <button class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="buyDevelopmentCard()">Buy Dev Card</button>
    <br>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="playDevelopmentCard()">Play Dev Card</button>
    <br>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="tradeWithPlayer()">Trade with player</button>
    <br>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="tradeWithBank()">Trade with bank</button>
    <br>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="finishTheTour()">End Turn</button>

  </div>


</div>
