<div class="container">

<ol class="even">
  <li class='hex spacer'></li>
  <li class='hex water'></li>
  <li class='hex water'>
    <div class='harbor two-one wood'>
      <div class='harbor-piece br'></div>
    </div>
  </li>
  <li class='hex water'></li>
  <li class='hex water'>
    <div class='harbor three-one wood'>
      <div class='harbor-piece bl'></div>
    </div>
  </li>
</ol>

<!-- row 1 -->
<ol class="odd">
  <li class='hex spacer'></li>

  <li class='hex water'>
    <div class='harbor three-one sheep'>
      <div class='harbor-piece br'></div>
    </div>
  </li>

  <!-- territory 1 -->
  <li class='hex wheat'>
    <div class='number two'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tr target'></div>
    <div class='road l target'></div>
    <div class='road tl target'></div>
  </li>

  <!-- territory 2 -->
  <li class='hex wood'>
    <div class='number three'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 3 -->
  <li class='hex wheat'>
    <div class='number three'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <li class='hex water'>
    <div class='house tl target'></div>
    <div class='road l target'></div>
  </li>

</ol>

<!-- row 2 -->
<ol class="even">

  <li class='hex water'></li>

  <!-- territory 4 -->
  <li class='hex coal'>
    <div class='number four'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 5 -->
  <li class='hex sheep' >
    <div class='number four'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 6 -->
  <li class='hex wood'>
    <div class='number five'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 7 -->
  <li class='hex sheep'>
    <div class='number five'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <li class='hex water'>
    <div class='harbor three-one brick'>
      <div class='harbor-piece l'></div>
    </div>
    <div class='house tl target'></div>
    <div class='road l target'></div>
  </li>

</ol>

<!-- row 3 -->
<ol class="odd">

  <li class='hex water'>
    <div class='harbor three-one sheep'>
      <div class='harbor-piece r'></div>
    </div>
  </li>

  <!-- territory 8 -->
  <li class='hex sheep'>
    <div class='number six'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 9 -->
  <li class='hex wheat'>
    <div class='number six'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 10 -->
  <li class='hex wood'>
    <div class='number eight robber'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 11 -->
  <li class='hex brick'>
    <div class='number eight'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 12 -->
  <li class='hex brick'>
    <div class='number nine'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <li class='hex water'>
    <div class='house tl target'></div>
    <div class='road l target'></div>
  </li>

</ol>

<!-- row 4 -->
<ol class="even">

  <li class='hex water'>
    <div class='house t target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 13 -->
  <li class='hex coal'>
    <div class='number nine'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 14 -->
  <li class='hex brick'>
    <div class='number ten'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 15 -->
  <li class='hex wood'>
    <div class='number ten'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 16 -->
  <li class='hex sheep'>
    <div class='number eleven'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <li class='hex water'>
    <div class='harbor three-one brick'>
      <div class='harbor-piece l'></div>
    </div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road l target'></div>
    <div class='road tl target'></div>
  </li>

</ol>

<!-- row 5 -->
<ol class="odd">

  <li class='hex spacer'></li>

  <li class='hex water'>
    <div class='harbor two-one any'>
      <div class='harbor-piece tr'></div>
    </div>
    <div class='house t target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 17 -->
  <li class='hex sand'>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 18 -->
  <li class='hex coal'>
    <div class='number twelve'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <!-- territory 19 -->
  <li class='hex wheat'>
    <div class='number eight'></div>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road tl target'></div>
    <div class='road l target'></div>
    <div class='road tr target'></div>
  </li>

  <li class='hex water'>
    <div class='house tl target'></div>
    <div class='house t target'></div>
    <div class='road l target'></div>
    <div class='road tl target'></div>
  </li>

</ol>

<ol class="even">
  <li class='hex spacer'></li>

  <li class='hex water'>
    <div class='house t target'></div>
    <div class='road tr target'></div>
  </li>

  <li class='hex water'>
    <div class='harbor two-one any'>
      <div class='harbor-piece tr'></div>
    </div>
    <div class='house t target'></div>
    <div class='house tl target'></div>
    <div class='road tr target'></div>
    <div class='road tl target'></div>
  </li>

  <li class='hex water'>
    <div class='house t target'></div>
    <div class='house tl target'></div>
    <div class='road tr target'></div>
    <div class='road tl target'></div>
  </li>

  <li class='hex water'>
    <div class='harbor three-one wood'>
      <div class='harbor-piece tl'></div>
    </div>
    <div class='house t target'></div>
    <div class='house tl target'></div>
    <div class='road tl target'></div>
  </li>

</ol>

</div>
